- if @todos.empty?
  .alert
    %p= t('.no_todos_found')

%ul
  - @todos.each do |todo|
    %li
      %h1= todo.name
      %p= todo.description
      %p= t('.completed') if todo.completed

%div
  %p Create new ones?
  = link_to t('.create_new_todo'), new_todo_path
