= form_for(@todo, method: :post) do |f|
  = f.label :name, t('.name_label')
  = f.text_field :name

  = f.label :description, t('.description_label')
  = f.text_field :description

  = f.submit(t('.create'))
